.about {
  margin: 20px;
  margin-top: -30px;
}
.dropdown {
  position: relative;
  width: 430px;
  filter: url(#goo);
}
.dropdown__items {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.dropdown__text{
  display: flex;
  align-items: center;
  gap: 15px;
}
.dropdown__face,
.dropdown__items {
  background-color: #fff;
  border-radius: 25px;
}
.dropdown__items {
  padding: 8px 20px;
}
.dropdown__face {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  display: block;
  position: relative;
}
.dropdown__items {
  margin: 0;
  position: absolute;
  right: 0;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}
.dropdown__items::before {
  content: "";
  background-color: #fff;
  position: absolute;
  bottom: 100%;
  left: 20%;
  height: 40px;
  width: 20px;
}
.dropdown__arrow {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: right;
}
.dropdown input {
  display: none;
}
.dropdown input:checked ~ .dropdown__items {
  top: calc(100% + 25px);
  visibility: visible;
  opacity: 1;
}

.dropdown__items svg {
  width: 15px;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
}
.use {
  font-size: smaller;
  display: flex;
  align-items: center;
  gap: 5px;
}
.text {
  border-radius: 0.25rem;
  padding: 0.125rem 0.3875rem;
  margin: 0 0.1864rem;
  background-color: #9b9b9ba1;
  color: #ffffff;
}
.rotate90 {
  rotate: 90deg;
}
.or {
  align-items: baseline;
}
.or svg {
  width: 12px;
}
@media (min-width: 964px) {
  .use {
    font-size: medium;
  }
}
.about blockquote {
  padding: 0 1em;
  color: #848d97;
  border-left: 0.2em solid #565c63;
  margin: 0;
  margin-left: 8px;
}
.Features{
  display: flex;
}.Packegs{
  display: flex;
  flex-direction: column;
  justify-items: baseline;
  gap: 10px;
}.Packegs a{
  color: #848d97;
  text-decoration: none;
}